@import "style2.css";
@import "style3.css";

.container{
  font-family: Lato, sans-serif;
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: 125px 300px 1100px 630px 65px;
  /* grid-template-columns: repeat(3, 1fr); */
  /* Initially each element has its own row for small screens */
  grid-template-areas:
  "nav" 
  "hd"
  "main"
  "hl"
  "ft";
}


.nestedGrid{
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  padding-top: 40px;
    }


.containerpost{
  font-family: Lato, sans-serif;
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: 125px 300px 1100px 1090px 65px;
  /* grid-template-columns: repeat(3, 1fr); */
  /* Initially each element has its own row for small screens */
  grid-template-areas:
  "nav" 
  "hd"
  "main"
  "cont"
  "ft";
}

.navtext{
  color: #06070a;
  text-decoration: none;
  padding: 4px;
}
.navtext:hover {
  background-color: yellow;
}


.topnavbuttons{
  padding-top: 20px;
  padding-left: 15px;

}



.topnav{
  grid-area: nav;
  background: white;
  font-style: normal;
  text-decoration: none;
  color: #06070a;
}

.box{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 16px;
    background: white;
}


.header{
    /* row start/column start/ row end/ column end */
    grid-area:hd;
    background: linear-gradient(80deg, #FFFCD3,#C1FFEC);
    text-align: center;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
  }


.post_header{
    grid-area:hd;
    background: #ffffff;
    text-align: center;
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 35px;
    font-weight: bold;
}

.footer{
    grid-area: ft;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center; 
    background: white;
    font-size: 11px;
    color: #888888;
    display: inline-block;
  }
  .main{
    grid-area: main;
  }

  .highlight{
    grid-area: hl;
    background: #F2FD76;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    justify-content: center;
  }


  .whitebutton-noshadow{
    color: black;
    text-decoration: none;
    width: 137px;
    border-radius: 11px;
    font-size: 14px;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .footerlogo{
    padding-left: 22px;
    padding-right: 5px;
    float: left;
  }


/* If Screen Is Wide Enough */
